*.sqlite3
.idea
.DS_Store
__pycache__
env
/static/

.env



.empty
.vscode
.pytest_cache

# frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*

# Simulation Framework data
*/simulation_framework/simulation_data/*

*/*.env

.venv
output.log

# Obsidian
# config dir
.obsidian/

# Debugging folders
temp_outputs/