/* Increase the content width */
.wy-nav-content {
    max-width: 100% !important;
}

.copy-button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.copy-button:hover {
    background-color: #45a049;
}

.copy-button:focus {
    outline: none;
}